<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="imob" connectionString="Provider=MSDAORA;Data Source=orcl;User Id=imobiliaria;Password=123456;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
